ErrorDocument 403 /BlogPhp/view/error.php
ErrorDocument 404 /BlogPhp/view/error.php
ErrorDocument 405 /BlogPhp/view/error.php
ErrorDocument 408 /BlogPhp/view/error.php
ErrorDocument 500 /BlogPhp/view/error.php
ErrorDocument 502 /BlogPhp/view/error.php
ErrorDocument 504 /BlogPhp/view/error.php

RewriteEngine On
RewriteRule ^([^_]*)_([^_]*)\.html$ /BlogPhp/?p=$1&a=$2 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)\.html$ /Bloghp/?p=$1&a=$2&id=$3 [L]
RewriteRule ^([^_]*)_([^_]*)_([^_]*)_([^_]*)_([^_]*)\.html$ /BlogPhp/?p=$1&a=$2&postid=$3&commentId=$4&vote=$5 [L]
